player-connection-mode=Listen
player-connection-guid=1967777737
player-connection-debug=0
player-connection-project-name=LachMalGmbh
player-connection-ip=10.2.0.2
player-connection-ip=192.168.178.177
player-connection-ip=192.168.137.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=314facb9ad6d4134aacf36f9b4fb3ec9
